In [1]:
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier

In [2]:
df = pd.read_csv('./train.csv')

In [3]:
df.head()

,id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49,target
0,0,0,0,1,0,1,0,0,0,0,...,0,0,21,0,0,0,0,0,0,Class_2
1,1,0,0,0,0,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,2,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,13,2,0,Class_1
3,3,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,1,0,Class_4
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,Class_2

In [4]:
#df.max()

In [5]:
y = df.pop('target')
id = df.pop('id')
X = df

In [6]:
y.head()

0    Class_2
1    Class_1
2    Class_1
3    Class_4
4    Class_2
Name: target, dtype: object

In [7]:
X.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_40,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49
0,0,0,1,0,1,0,0,0,0,0,...,3,0,0,21,0,0,0,0,0,0
1,0,0,0,0,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,2,...,0,0,1,0,0,0,0,13,2,0
3,0,0,0,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [8]:
# pca
import numpy as np
from sklearn.decomposition import PCA
pca = PCA(n_components=35)
pca.fit(X)

PCA(n_components=35)

In [9]:
print(sum(pca.explained_variance_ratio_))

0.9536333477556059

In [10]:
# grad boost with grid
print(pca.singular_values_)

[1703.71317213 1502.27935117 1471.8625701  1180.68694541 1080.7310978
 1049.46239517  934.13492921  881.49929218  851.68389646  816.57559235
  801.999976    788.45661418  747.78174187  740.0257759   727.47414035
  722.34092963  692.24909515  684.75272042  682.01306162  633.9638013
  624.86040772  601.97610804  593.99724312  583.11056104  574.86550017
  543.99259866  531.12252369  503.12781093  472.98314448  469.08399614
  462.95132506  461.0618005   427.53601626  417.98617485  405.46116687]

In [11]:
X = pca.transform(X)

In [12]:
X.shape

(100000, 35)

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [16]:
#parameters = {'n_estimators':(100, 250, 500), 'learning_rate':[.01, .1, .5], 'max_depth':[1, 3]}
#model = GradientBoostingClassifier(random_state=0, verbose = 1)
#clf = GridSearchCV(model, parameters, verbose = 1)
#clf.fit(X_train, y_train)

In [127]:
from sklearn.ensemble import RandomForestClassifier

In [128]:
parameters = {'n_estimators':(100, 250, 500, 1000), 'max_depth':(2,3,4)}

In [129]:
model = RandomForestClassifier(random_state=0)

In [130]:
clf = GridSearchCV(model, parameters, verbose = 1)

In [131]:
clf.fit(X_train, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(estimator=RandomForestClassifier(random_state=0),
             param_grid={'max_depth': (2, 3, 4),
                         'n_estimators': (100, 250, 500, 1000)},
             verbose=1)

In [132]:
clf.score(X_test, y_test)

0.5758666666666666

In [133]:
#clf.get_params(deep=False)

In [134]:
a = clf.predict_proba(X_test)

In [135]:
a.shape

(30000, 4)

In [137]:
#for i in a

In [138]:
test = pd.read_csv('C:/Users/Jimmy/Documents/python/kaggle/may21/data/test.csv')

In [139]:
test.pop('id')

0        100000
1        100001
2        100002
3        100003
4        100004
          ...
49995    149995
49996    149996
49997    149997
49998    149998
49999    149999
Name: id, Length: 50000, dtype: int64

In [140]:
test.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_40,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49
0,0,0,0,0,0,0,4,4,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,2,0,7,7,...,3,0,1,0,0,0,1,0,2,1
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,6,0
3,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,6,9,14,3
4,0,0,0,0,0,0,1,0,4,0,...,1,0,0,0,0,0,0,0,0,0

In [141]:
pca = PCA(n_components=35)
pca.fit(test)
test = pca.transform(test)

In [148]:
test.shape

(50000, 35)

In [149]:
b = clf.predict_proba(test)

In [144]:
b

array([[-2.43333764, -0.57003501, -1.51529302, -2.06351238],
       [-2.45381368, -0.57819532, -1.50880335, -2.02532709],
       [-2.45613263, -0.5590776 , -1.55697068, -2.02704489],
       ...,
       [-2.44796274, -0.56914218, -1.53979916, -2.01668835],
       [-2.45928649, -0.56135947, -1.56353801, -2.00487526],
       [-2.45167442, -0.56246685, -1.5290516 , -2.06114637]])

In [150]:
c = pd.DataFrame(data = b, columns = ['Class_1', 'Class_2', 'Class_3', 'Class_4'])

In [151]:
c.head()

    Class_1   Class_2   Class_3   Class_4
0  0.087743  0.565506  0.219744  0.127007
1  0.085965  0.560910  0.221174  0.131951
2  0.085766  0.571736  0.210774  0.131724
3  0.086663  0.577679  0.211477  0.124181
4  0.085390  0.590618  0.201662  0.122330

In [152]:
e = []
e = [i for i in range(100000,150000)]

In [153]:
d = pd.DataFrame(data = e, columns = ['id'])

In [154]:
d.head()

       id
0  100000
1  100001
2  100002
3  100003
4  100004

In [155]:
f = pd.concat((d,c), axis = 1)

In [156]:
f.head()

       id   Class_1   Class_2   Class_3   Class_4
0  100000  0.087743  0.565506  0.219744  0.127007
1  100001  0.085965  0.560910  0.221174  0.131951
2  100002  0.085766  0.571736  0.210774  0.131724
3  100003  0.086663  0.577679  0.211477  0.124181
4  100004  0.085390  0.590618  0.201662  0.122330

In [157]:
f = f.set_index('id')

In [158]:
f.head()

         Class_1   Class_2   Class_3   Class_4
id
100000  0.087743  0.565506  0.219744  0.127007
100001  0.085965  0.560910  0.221174  0.131951
100002  0.085766  0.571736  0.210774  0.131724
100003  0.086663  0.577679  0.211477  0.124181
100004  0.085390  0.590618  0.201662  0.122330

In [159]:
f.to_csv('./random_forest.csv')

In [160]:
import pickle
filename = 'random_forest.sav'
pickle.dump(clf, open(filename, 'wb'))

In [1]:
import pickle
loaded_model = pickle.load(open('./data/pca_gradboost.sav', 'rb'))

In [2]:
loaded_model.best_estimator_

GradientBoostingClassifier(learning_rate=0.5, max_depth=1, random_state=0,
                           verbose=1)